{% extends 'base.html' %}
    
    {% block head %}
    <title>Letter Search - Home</title>
    {% endblock %}

    {% block hr %}
    <div class="header-right">
        <a class="active" href="{% url 'db:index' %}">Home</a>
        <a href="{% url 'db:search' %}">Search</a>
        <a href="{% url 'db:upload' %}">Upload</a>
        <a href="{% url 'db:logout' %}">Logout</a>
    </div>
    {% endblock %}

    {% block body %}
    <div class="searchheader">
        <h1>Under Construction!</h1>
    </div>
    {% endblock %}
