{% extends 'base.html' %}

    {% load static %}
    {% block head %}
    <title>Letter Search - Home</title>
    {% endblock %}

    {% block hr %}
    <script src="{% static "db/logoutScript.js" %}"></script>
    <div class="header-right">
        <a class="active" href="{% url 'db:index' %}">Home</a>
        <a href="{% url 'db:search' %}">Search</a>
        <a href="{% url 'db:upload' %}">Upload</a>
        <a onclick="return logout();" id="logout">Logout</a>
    </div>
    {% endblock %}

    {% block body %}
    <div class="main">
        {% if message %}
          <h2 style="color: red">{{message}}</h2>
        {% endif %}

        <h1 style="margin-right: 10%;">Welcome To The Historical Archive Search!</h1><br>

      <h2> The Search Button!</h2>
      <p> Clicking the 'Search' button at the top right of the page will take you to a page in which
        you can search the historical archive database directly. To use the search
        page, select the metadata categories which are relevant to your search and
        type in the information you want. You will then be redirected to a results
        page.
      </p>


      <h2> The Upload Button!</h2>
      <p> Clicking the 'Upload' button at the top right of the page will take you to our upload page in which you can
        add valuable metadata to our ever growing database. On this page click the
        choose file button and navigate to your desired word or excel document.
        Our application will then scan your document for metadata. You will get a
        chance to confirm this is the correct metadata you wish to upload.
        If there are any further questions please contact: xxxxx-xxxx
      </p>

      <h2>Data Policy</h2>
      <p style="margin-top:0">This website has been designed to never store the actual document transcripts on a server for any longer than a brief moment of time. When the file is uploaded, its information is passed on to a program which extracts the meta-data. Despite the file being uploaded to our server, it is never actually stored; its information is only extracted.</p>
    {% endblock %}
