<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'db/styles.css' %}">
    <title>Letter Search - Home</title>
</head>
<body>
    <div class="header">
        <a href="{% url 'db:login' %}" class="logo">Historical Archive Search</a>
        <div class="header-right">
            <a href="{% url 'db:index' %}">Home</a>
            <a href="{% url 'db:search' %}">Search</a>
            <a href="{% url 'db:upload' %}">Upload</a>
        </div>
    </div>
    <br>
    <div class="searchheader">
        <h1>Login</h1>
    </div>
    <form method="POST"  action="{% url 'db:index' %}" id="form1"> 
        {% csrf_token %}
        <div class="select">
            Username<input type="text" name="username" form="form1"><br><br>
            Password<input type="password" name="password" form="form1">
        </div>
        <br>
        <br>
        <div class="submitform">
            <input type="submit" value="Login" form="form1">    
        </div>
    </form>
</body>
</html>