{% extends 'base.html' %}
    
    {% block head %}
    <title>Letter Search - Home</title>
    {% endblock %}

    {% block hr %}
    <div class="header-right">
        <a href="{% url 'db:index' %}">Home</a>
        <a href="{% url 'db:search' %}">Search</a>
        <a href="{% url 'db:upload' %}">Upload</a>
    </div>
    {% endblock %}

    {% block body %}
    <div class="searchheader">
        <h1>Login</h1>
    </div>
    <form method="POST"  action="{% url 'db:login' %}" id="form1"> 
        {% csrf_token %}
        
        <div class="select">
        {{ form }}
        </div>
        <br>
        <br>
        <div class="submitform">
            <input type="submit" value="Login" form="form1">    
        </div>
    </form>
    {% endblock %}
