{% extends 'base.html' %}

    {% block head %}
    <title>Letter Search - Login</title>
    {% endblock %}

    {% block hr %}
    <div class="header-right">
        <a href="{% url 'db:index' %}">Home</a>
        <a href="{% url 'db:search' %}">Search</a>
        <a href="{% url 'db:upload' %}">Upload</a>
    </div>
    {% endblock %}

    {% block body %}
    <div class="main">
    <h1>Login</h1>
    <form method="POST"  action="{% url 'db:login' %}" id="form1">
        {% csrf_token %}

        <div class="select">
        {{ form }}
        </div>
        <br>
        <br>
        <input class="submitform" type="submit" value="Login" form="form1">
        <br>
        <div style="font-size:10px">
            <i>Don't have an account? Request for an account to this e-mail: Francesco.detoni@research.uwa.edu.au</i>
        </div>
    </form>
    <br>
    {% if message %}
        {{message}}
    {% endif%}

    {% endblock %}

  </div>
