<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
    <link rel="stylesheet" href="{% static 'db/styles.css' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Letter Search - Search</title>
</head>
<body>
    <div class="header">
        <a href="{% url 'db:index' %}" class="logo">Historical Archive Search</a>
        <div class="header-right">
            <a href="{% url 'db:index' %}">Home</a>
            <a class="active" href="{% url 'db:search' %}">Search</a>
            <a href="{% url 'db:upload' %}">Upload</a>
        </div>
    </div>
    <div class="searchheader">
        <h1>Search through our database! </h1>
    </div>
        <p> Search by: </p>
    <form method="GET"  action="{% url 'db:result' %}" id="form1">
        <div class="select">
        </div>
        <br>
        <div class="searchbar">
            <input type="text" class="searchbar" value = "form1" id = "bar">
        </div>
        <div class="submitform">
            <button type="submit" class="search_button">
						<i class="fa fa-search"></i>
					</button>
        </div>
    </form>

		<button value = "Input" onclick = "Input_Search()">Input Search Criteria</button>
		<button value = "Input" onclick = "clear_search()">Clear Search Criteria</button>
		<p class = "Search_Text"> Current Search Criteria: </p>
		<textarea id = "Search_Criteria_Text" class = "Search_Criteria_Text"  rows = "10"> </textarea>

		<div class = "dropdown">
			<button onclick = "dropFunction()" class = "dropbtn" id = "dropbutton"> Advanced Search </button>
	  	<div id = "main_dropdown" class = "dropdown-content">
				{% block content %}
				{% endblock %}
			</div>
		</div>

<script>
function clear_search()
{
		var text = 	document.getElementById("Search_Criteria_Text").value;
		text = "";
		document.getElementById("Search_Criteria_Text").value = text;

}



function dropFunction()
{
		document.getElementById('main_dropdown').classList.toggle('show');

}


window.onclick = function(event) {
if(!event.target.matches('.dropbtn'))
	{
			var dropdowns = document.getElementsByClassName("dropdown-content");
			var i;
			for (i = 0; i < dropdowns.length; i++)
			{
				var openDropdown = dropdowns[i];
				if (openDropdown.classList.contains('show'))
				{
					openDropdown.classList.remove('show');
				}
		}
	}
}
function clickFunction(clicked_id)
	{
			document.getElementById("dropbutton").innerHTML = clicked_id
	}


function Input_Search()
{
	var original_text = 	document.getElementById("Search_Criteria_Text").value;
	var category = document.getElementById("dropbutton").innerHTML;
	var modifier = document.getElementById("bar").value;
	if(original_text != null || original_text != "")
	{
		original_text =  original_text + "Search Category:" + category + " " + "Modifier:" + modifier + '\n';
	}
	else
	{
			original_text =  "Search Category:" + category + " " + "Modifier:" + modifier + '\n';
	}
	document.getElementById("Search_Criteria_Text").value= original_text;
	linebreak = document.createElement("br");
	document.getElementById("Search_Criteria_Text").appendChild(linebreak);
}
</script>
</body>
</html>
