<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
    <link rel="stylesheet" href="{% static 'db/styles.css' %}">
    <title>Letter Search - Search</title>
</head>
<body>
    <div class="header">
        <a href="{% url 'db:index' %}" class="logo">Historical Archive Search</a>
        <div class="header-right">
            <a href="{% url 'db:index' %}">Home</a>
            <a class="active" href="{% url 'db:search' %}">Search</a>
            <a href="{% url 'db:upload' %}">Upload</a>
        </div>
    </div>
    <div class="searchheader">
        <h1>Search through our database! </h1>
    </div>
        <p> Search by: </p>
	  {% block content %}
	  {% endblock %}
    <form method="GET"  action="{% url 'db:result' %}" id="form1">
        <div class="select">
        </div>
        <br>
        <div class="searchbar">
            <input type="text" name="query" class="searchbar" form="form1">
        </div>
        <div class="submitform">
            <input type="submit" value="Search" form="form1">    
        </div>
    </form>
</body>
</html>
