{% extends 'base.html' %}

    {% block head %}
    <title>Letter Search - Upload</title>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 50%;
            margin: 10px;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            font-size:10px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    {% endblock %}


    {% block hr %}
    <div class="header-right">
        <a href="{% url 'db:index' %}">Home</a>
        <a href="{% url 'db:search' %}">Search</a>
        <a class="active" href="{% url 'db:upload' %}">Upload</a>
        <a href="{% url 'db:logout' %}">Logout</a>
    </div>
    {% endblock %}

    {% block body %}
    <div class="searchheader">
        <h1>Upload your file!</h1>
        <p>Only accept .docx or .xlsx or .xls files!</p>
        <form action="{% url 'db:upload' %}" method="POST" id="uploadfield" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="custom-file-upload">
                <button class="bt-upload">Upload a file</button>
                <input type="file" name="myfile" id="updfile"></input>
            </div>
            <div id="file-upload-name"></div>
            <button class="bt-submit" type="submit" id="scanfile"> Scan file</button>
            <button class="bt-discard" onclick="mydiscard()">Discard file</button>
        </form>
    </div>
    {% if list %}
        <form action = "{% url 'db:index' %}" method = "POST" id = "input_field" class = "input_form">
            {% csrf_token %}
            <button class="bt-add" type="submit" name = "input_file">Add File to DB</button>
        </form>
        <br>
        
        {% if fname %}
            <div> <b>Scanned file:</b> <i>{{fname}}</i> </div>
        {% endif %}

        <br>
        <div class="preview-results">

        {# For xlsx files #}
            {% if indic == 1 %}
            <h2 class="code">Data Preview</h2>
                {% for letter in list %}
                <table>
                    {% for i in letter %}
                    <tr>
                    {% for j in i %}
                        <th>{{j.1}}</th>
                    {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
                {% endfor %}
            {% endif %}

        {# For docx files #}

        {% if indic == 0 %}
        <h2 class="code">Data Preview</h2>
        <table>
            {% for letter in list %}
            <tr>
                {% for i in letter %}
                {% if i.1 != ""%}
                    <th>{{i.1}}</th>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        </div>
    {% endif %}

    <script>
        var inputfile = document.getElementById("updfile");
        var scanfile = document.getElementById("scanfile");
        var infoArea = document.getElementById("file-upload-name");

        function mydiscard() {
            inputfile.value="";
            infoArea.textContent = "";
        }

        inputfile.addEventListener("change", showFileName);
        scanfile.addEventListener("click", checkFile);

        function showFileName( event ) {
            var input = event.srcElement;
            var fileName = input.files[0].name;
            infoArea.textContent = "File selected: " + fileName;
        }
        function checkFile( event ) {
            if (inputfile.files.length == 0){
                alert("No file is selected for scanning!");
            }
        }
    </script>
    {% endblock %}